<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <h1>OPEN THE CABINET</h1> -->
    <a href="/story"><h1> OPEN THE CABINET</h1></a>
    <!-- <h2>Hello, {{context}} !</h2>
    {%  if context == "Steebo" %}
        {% for i  in range(3)%}
            <p>Oh hey, it's Steebo!</p>
        {%  endfor %}    
    {%  endif %} -->


</body>
</html>