<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MIDGET JUMPS OUT THE CABINET</h1>
    <p1>Now the midget jumps out of the cabinet and stomps the policemen on his toe
        The policeman's hoppin' around on one leg screamin', "Son of biscuit!!!!"</p1><br>
    <a href="/storya">MIDGET RUNS OUT THE BACK DOOR|</a>
    <a href="/storyb">|MIDGET RUNS UNDER THE TABLE</a>

</body>
</html>