<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MIDGET RUNS UNDER THE TABLE</h1>
    <p1>While he runs under the table
        He yells, ''Freeze'' dives over the table and lands on the midget
        While the midget is kickin' real fast screamin' out, "Bridget, Bridget"
        She yells, "Darlin' don't hurt him". He says, "Bridget get yo' akabacka-sodacracka  back"
        Then he continues to rough up the midget as if the midget was under attack
        Then Bridget runs up to her room, goes in her purse and pulls a number out
        The police puts him on the table and yells, "Man, what the heck you doin' in my house?!"
        He wipes cherry pie crust off his mouth and says, "Man I was paid not to tell you"
        Then the police pulls his gun out and yells, "Trespassin' man I've got the right to shoot you"
        The midget says, "Mister, the man that pay me to this would kill me if I tell"
        He points the gun in his face, the midget says "I think I just POOPED on myself"</p1><br>
    <a href="/storyb_2">MIDGET TELLS ALL|</a>
    <a href="/storyb_2">|MIDGET KEEPS HIS MOUTH SHUT</a>

</body>
</html>